<!-- Lines  -->
<div id="lines">
	<div class="container">
		<%= scroll_reveal animation: 'enter bottom move 100px, after 1s' do %>
			<div class="titulo-wrapper text-center">
	  			<%= image_tag 'titulo-produtos.png', alt: 'Produtos' %>
			</div>
		<% end %>
	</div><!-- /container -->
	<div class="container">
		<div class="categorias-list row">

	        <div class="envolucro">
	            <div class="category-line-name">
	                <%= @line.category.name %> <%= @line.name %>
	            </div>
	        </div><!-- /envolucro -->
	          <div class="row">
	          	<ul class="nav nav-pills">
					<% @line.products.each_with_index do |product, index| %>
						<li>
			              <%= link_to product do %>
			                	<%= product.name %>
			                    <%= image_tag product.image.url(:original), alt: product.name, class: 'img-responsive' %>
			              <% end %>
			          	</li>
		            <% end %>
		        </ul><!-- nav-pills -->
	          </div><!-- /row -->
		</div><!-- /categorias-list row -->	
	</div><!-- /container -->
</div><!-- /#lines -->

