<div id="fale-conosco">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="flash-message">
                <%= render 'flash' %>
            </div><!-- /col -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-md-6">
            teste
            </div><!-- /col -->
            <div class="col-md-6">
                <%= form_for @contact, url: welcome_index_path, remote: true do |f| %>
                    <div class="form-group">
                        <%= f.label :name, 'Seu nome:' %></br>
                        <%= f.text_field  :name, required: true, class: "form-control" %></br>
                    </div><!-- /form-group -->

                    <div class="form-group">
                        <%= f.label :email, 'Seu email:' %></br>
                        <%= f.text_field :email, required: true, class: "form-control" %></br>
                    </div><!-- /form-group -->

                    <div class="form-group">
                        <%= f.label :message, 'Mensagem' %></br>
                        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "form-control", placeholder: "Digite uma mensagem para nós"%></br>
                    </div><!-- /form-group -->
                <div class= "hidden">
                    <%= f.label :nickname %>
                    <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
                </div>

                <%= f.submit 'Enviar', class: 'btn btn-primary' %>                
            <% end %>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /fale-conosco -->