<div id="quem-somos">
	<div class="container">
        <%= scroll_reveal animation: 'enter bottom move 100px, after 1s' do %>
	        <div class="titulo-wrapper text-center">
	            <%= image_tag 'titulo-quem_somos.png', alt: 'Quem somos' %>
	        </div>
        <% end %>
        <div class="row">
        	<%= scroll_reveal animation: 'enter left' do %>
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		<h2 class="text-center">INDÚSTRIA</h2>
        		<p class="lead">					
					A <strong>Diêlo</strong> possui uma estrutura fabril moderna e equipamentos de alta tecnologia, desenvolvendo produtos diferenciados para atender o público consumidor e as legislações vigentes. Há mais de 30 anos a empresa desenvolve, produz e comercializa sorvetes e picolés com uma equipe capacitada e rigoroso controle de processos, ofertando segurança e confiabilidade ao consumidor. Além de excelentes procedimentos operacionais, monitoramento e rastreamento de produtos, a indústria é comprometida com a sociedade e o meio ambiente, dispondo de um sistema de tratamento de resíduos de alto padrão, captação de água pluvial e aquecimento solar, garantindo melhoria contínua e práticas sustentáveis. 
        		</p>
        	</div><!-- /col -->
        	<% end %>
        	<%= scroll_reveal animation: 'enter left' do %>
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		<div class="video">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fjKZaBeRP1E" frameborder="0" allowfullscreen></iframe>
                    </div><!-- /embed-responsive -->
                </div><!-- /video -->
        	</div><!-- /col -->
        	<% end %>      	
        </div><!-- /row -->
        <%= scroll_reveal content: '<hr>'.html_safe, animation: 'enter bottom and move 100px over 1.33s' %>
        <div class="row">
        	<%= scroll_reveal animation: 'enter left ' do %>
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		<%= image_tag 'quem-somos-qualidade.jpg', alt: "Qualidade", class: 'img-responsive img-thumbnail' %>
        	</div><!-- /col -->
        	<% end %>
        	<%= scroll_reveal animation: 'enter left' do %>
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		<h2 class="text-center">QUALIDADE</h2>
				<p class="lead">
				A empresa tem por objetivo a satisfação de seus clientes, investindo na qualificação e treinamento profissional dos colaboradores. A equipe de qualidade da Diêlo é constituída por profissionais de P&D e auditores internos, sendo que os programas 5S, BPF e APPCC estão implantados desde o ano de 2005 (está em implementação ISO 22000 - Segurança em Alimentos). Os produtos Diêlo são monitorados em todas as etapas do processo produtivo, como a estocagem da matéria-prima, controle de alergênicos, padronização, liberação do produto por lote, controle de temperatura de armazenagem, programa de monitoramento de temperatura da frota de distribuição e rastreabilidade dos produtos. A empresa possui laboratório interno para avaliar os processos e matérias-primas por meio de análises microbiológicas e físico químicas, priorizando a segurança alimentar.        			
        		</p>
        	</div><!-- /col --> 
        	<% end %>       	
        </div><!-- /row -->
        <%= scroll_reveal content: '<hr>'.html_safe, animation: 'enter bottom and move 100px over 1.33s' %>
        <div class="row">
        	<%= scroll_reveal animation: 'enter left' do %>
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		<h2 class="text-center">FROTA E LOGÍSTICA</h2>
        		<p class="lead">
        			São 30 caminhões câmara fria que garantem a entrega aos mais de 5.500 pontos de vendas.
        		</p>
        	</div><!-- /col -->
        	<% end %>
        	<%= scroll_reveal animation: 'enter left' do %>
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		<%= image_tag 'quem-somos-frota.jpg', alt: "Frota", class: 'img-responsive img-thumbnail' %>
        	</div><!-- /col -->  
        	<% end %>      	
        </div><!-- /row -->          
    </div><!-- /container -->
</div>