<div id="fale-conosco">
    <div class="container">
        <%= scroll_reveal animation: 'enter bottom move 100px, after 1s' do %>
        <div class="titulo-wrapper text-center">
            <%= image_tag 'titulo-fale_conosco.png', alt: 'Fale conosco' %>
        </div>
        <% end %>
        <div class="row">
            <div class="col-md-12" id="flash-message">
                <%= render 'flash' %>
            </div><!-- /col -->
        </div><!-- /row -->
        <div class="row">
        <%= scroll_reveal animation: 'enter left' do %>
            <div class="col-md-4 text-center-xs text-center">
                <h2>Dihelo Alimentos Ltda</h2>
                <h3>Matriz</h3>
                <i class="icone-telefone"></i>
                    <h4>0800.644.2891<br>
                <span>(49) 3631-7900</span><br>                       
              </h4>
              <h5>sac@dielo.com.br</h5> 
              <p class="footer-dizeres">Rua Tiradentes, 1713 - B. S찾o Jorge<br>
                CEP 89.900-000<br>
                S찾o Miguel do Oeste - SC
              </p>              
              <h3>Itapema - SC</h3>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span>(47) 3368-0194</span>
                <h3>Rol창ndia - PR</h3>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span>(43) 3156-0802</span>
              <div class="visible-xs"><hr></div>
            </div><!-- /col -->
            <% end %>
            <%= scroll_reveal animation: 'enter left, after 0.3s' do %>
            <div class="col-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.107356657186!2d-53.52082868546149!3d-26.74094998320192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94fa5c88d017bf25%3A0xd5b63163afae13a6!2sDi%C3%AAlo+Alimentos+e+Sorveteria!5e0!3m2!1spt-BR!2sbr!4v1522354666191" width="100%" height="470" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div class="visible-xs"><hr></div>
            </div><!-- /col -->
            <% end %>
            <%= scroll_reveal animation: 'enter left, after 0.6s' do %>
            <div class="col-md-4">
                <%= form_for @contact, url: contacts_path, remote: true do |f| %>
                    <div class="form-group">
                        <%= f.label :name, 'Seu nome:' %><br>
                        <%= f.text_field  :name, required: true, class: "form-control" %><br>
                    </div><!-- /form-group -->

                    <div class="form-group">
                        <%= f.label :email, 'Seu email:' %><br>
                        <%= f.text_field :email, required: true, class: "form-control" %><br>
                    </div><!-- /form-group -->

                    <div class="form-group">
                        <%= f.label :fone, 'Seu telefone:' %><br>
                        <%= f.text_field :fone, required: true, class: "form-control" %><br>
                    </div><!-- /form-group -->                    

                    <div class="form-group">
                        <%= f.label :message, 'Mensagem' %><br>
                        <%= f.text_area :message, rows: 4, cols: 40, required: true, class: "form-control", placeholder: "Digite uma mensagem para n처s"%><br>
                    </div><!-- /form-group -->
                <div class= "hidden">
                    <%= f.label :nickname %>
                    <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
                </div>

                <%= f.submit 'Enviar', class: 'btn btn-primary' %>                
            <% end %>
            </div><!-- /col -->
            <% end %>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /fale-conosco -->