<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Linha <%= @line.name %></h4>
    </div>
    <div class="modal-body">
    


    <!-- Nav tabs -->
    <ul class="nav nav-tabs visible-md visible-lg">
    <% @products.each_with_index do |product, index| %>
      <li class="<%= 'active' if index == 0 %>"><a href="#<%= product.id %>" aria-controls="home" role="tab" data-toggle="tab" data-target="#<%= product.id %>">
        <div class="product-thumb text-center">   
        <span ><%= raw(product.name) %></span><br>
        <%= image_tag product.image.url(:thumb), alt: product.name, class: '' %>
          
        </div><!-- /product-thumb -->
        </a></li>
      <% end %>
    </ul>
        <!-- /menu para small devices -->
    <ul class="nav nav-pills nav-stacked visible-xs visible-sm">
      <% @products.each_with_index do |product, index| %>
        <li role="tab" data-target="#<%= product.id %>" data-toggle="tab" class="<%= 'active' if index == 0 %>"><a href="#<%= product.id %>"><%= product.name %></a></li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <% @products.each_with_index do |product, index| %>
      <div role="tabpanel" class="tab-pane fade in <%= 'active' if index == 0 %>" id="<%= product.id %>">

        <div class="product-image text-center">         
          <%= image_tag product.image.url(:original), alt: product.name, class: '' %>
        </div><!-- /product-image -->                
        <div class="row">
          <div class="col-lg-6">
            <div class="product-description lead text-center"> 
              <%= markdown(product.description) %>
            </div><!-- /product-description -->
            <hr>
            <div class="product-description lead"> 
              <%= product.allergenic %>
            </div><!-- /product-description -->            
          </div><!-- /.col -->
          <div class="col-lg-6">
            <div class="product-description"> 
              <%= raw(product.nutrition_facts) %>          
            </div><!-- /product-description -->
          </div><!-- /.col -->          
        </div><!-- /.row -->
      </div><!-- /tabpanel -->
    <% end %>
    </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<style type="text/css">
/*
$vermelho-tema: #CF2B2A;
$vermelho-escuro: #A51417;
$vermelho-active: #EFAEAE;
*/
.product-thumb{
  transform: rotate(-5deg);
  height: 100px;
  border: 1px solid transparent;
  font-family: 'Museo 700';
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; 


}
.product-thumb:hover{
  transform: rotate(5deg);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;  
}
.product-image{
  padding: 20px;
}

.product-description{
  font-family: 'Museo 700';
  color: #CF2B2A;
}

.product-description table, th, td {
  padding: 5px;
  border-collapse: collapse;
  background-color: #CF2B2A;
  color: #fff;
  text-align: center;
}


.product-description table, tr, td {
  padding: 5px;
  border-collapse: collapse;
  background-color: #F3ECE0;
  color: #875E4C;
}

.product-description table, tr{
  border-bottom: 1px dotted #875E4C;
}

/*.product-description thead {
  background-color: #CF2B2A;
  color: #fff;
}*/

.modal-content {
  border: 3px solid #A51417;
  background: url('bg-conteudo.png') 0 0 repeat-x #fff;
}
.modal-title{
	color: #CF2B2A;
  text-align: center;
  font-size: 25px;
  font-family: 'Museo 900';
}

.nav-tabs > li a {
  outline: none;
  color: #CF2B2A;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  /*background-color:#D6E6F3;
  color:#000;
  border: 1px solid #1A3E5E;
  border-bottom-color: transparent;*/
  color: #A51417;
}

.nav-pills > li a {
    outline: none;
    color: #CF2B2A;
    font-family: 'Museo 700';
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
  background-color:#CF2B2A;  
  /*border: 1px solid #1A3E5E;
  border-bottom-color: transparent;*/
  /*color: #A51417;*/
}

</style>