  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Linha <%= @line.name %></h4>
      </div>
      <div class="modal-body">

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  <% @products.each_with_index do |product, index| %>
    <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#<%= product.id %>" aria-controls="home" role="tab" data-toggle="tab"><%= product.name %></a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <% @products.each_with_index do |product, index| %>
    <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="<%= product.id %>"><%= product.name %></div>
  <% end %>
  </div>

</div>

      	<hr>
        <% @products.each do |product| %>
		<li>Linha: #<%= product.line.id %>-<%= product.line.name %> ..... Produto: <%= product.name %></li>
		<% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<style type="text/css">
	
	.modal-title{
		color: #CF2B2A;
	}

</style>