<!-- Produtos -->
<div id="produtos">
  <div class="container">
    <%= scroll_reveal animation: 'enter bottom move 100px, after 1s' do %>
    <div class="titulo-wrapper text-center">
      <%= image_tag 'titulo-produtos.png', alt: 'Produtos' %>
    </div>
    <% end %>
    <div class="categorias-list row">
    <% @categories.each do |category|  %>
      <div class="col-lg-6 col-md-6">
        <div class="envolucro">
            <div class="category-name">
                <%= category.name %>
            </div>
        </div><!-- /envolucro -->
        <div class="lines-list">
          <div class="row">
            <% Line.where(category_id: category.id).each do |line| %>
              <%= link_to line do %>
                <div class="line-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="line-name">
                    <span class="line-name-span lead"><%= line.name %></span>
                  </div><!-- /line-name -->
                  <div class="line-photo">
                    <%= image_tag line.image.url(:original), alt: line.name, class: 'img-responsive' %>
                  </div><!-- /line-photo" -->
                </div><!-- /line-wrapper -->
              <% end %>
            <% end %>
          </div><!-- /row -->
        </div><!-- /lines-list -->
      </div><!-- /col -->
      <% end %>
    </div><!-- /categorias-list row -->
  </div><!-- /container -->
</div><!-- /produtos -->

<div class="modal fade" id="products-modal"></div>
