<nav class="navbar navbar-default" id="nav-menu">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="visible-xsX">
          <%= link_to root_path, :class => 'navbar-brand' do %>
            <%= image_tag 'dielo-logo-cab-shadow.png', width: '170' %>
          <% end %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav menu-circle">
        <li><%= link_to 'Produtos', products_path %></li>
        <li><%= link_to 'Quem somos', page_path('quem-somos') %></li>
        <li><%= link_to 'Onde encontrar', page_path('onde-encontrar') %></li>
        <li class="hidden-sm"><a href="#parceiro">Seja um parceiro</a></li>
        <li><a href="#fale-conosco">Fale conosco</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/dielosorvetes/"><%= fa_icon "facebook-square", class: "fa-2x" %></a></li>
        <li><a href="https://www.instagram.com/dielosorvetes/"><%= fa_icon "instagram", class: "fa-2x" %></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>