<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= @page_title || "Diêlo Alimentos" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dielo Alimentos">
    <meta name="author" content="@michielin">
    <meta name="keywords" content="Dielo, sorvetes, freezer" />
    <meta name="robots" content="ALL" />
    <meta name="rating" content="General" />

    <meta property="fb:admins" content=""/>
    <meta property="fb:app_id" content=""/>
    <meta property="og:title" content="" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Diêlo Alimentos" />
    <meta property="og:description" content="Há mais de 20 anos a Diêlo vem fazendo história com sua qualidade e sabor inconfundível do melhor e mais delicioso sorvete." />
    <meta property="og:url" content="http://dielo.com.br/" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:image" content="http://dielo.com.br/uploads/__logo3_52826d8303992.png" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'application/favicon' %>
  </head>

  <body>
    <div id="cab">      
      <div id="nav-wrapper">
        <%= render partial: 'layouts/nav-menu' %>
      </div><!-- /nav-wrapper -->      
      <div id="layer_1" class="img-parallax"></div>
      <div id="layer_2" class="img-parallax"></div>
      <div id="layer_3" class="img-parallax"></div>
      <div id="layer_4" class="img-parallax"></div>
      <div id="layer_5" class="img-parallax"></div>
      <div id="layer_6" class="img-parallax"></div>
    </div><!-- /#cab -->
    <%= yield %>
    <!-- FOOTER -->
    <div id="footer">
      <div class="footer-text">
        <div class="container">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center-xs">
            <%= image_tag 'dielo-logo-cab-2.png', alt: "Diêlo - Mais sabor na sua vida", class: 'footer-logo' %>
            <br><br>
            <p class="footer-dizeres">
              <!-- LOGIN -->
                <% if user_signed_in? %>
                    <%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-user"></span> <%= current_user.email %><% end %>
                    <br>
                    <%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Sair <% end %>
                     <br>
                  <% else %>
                    <%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Login <% end %>
                    <br>
                <% end %>
              <!-- /LOGIN -->
            </p>
          <div class="visible-xs"><hr></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center-xs">
          <i class="icone-telefone"></i>
            <h4>0800.644.2891<br>
                <span>(49) 3631-7900</span><br>                       
              </h4>
              <h5>sac@dielo.com.br</h5> 
              <p class="footer-dizeres">Rua Tiradentes, 1713 - B. São Jorge<br>
                CEP 89.900-000<br>
                São Miguel do Oeste - SC
              </p>
            <div class="visible-xs"><hr></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p class="footer-dizeres text-right">
              Desenvolvido por <a href="http://agenciaspo.com.br">agenciaspo.com.br</a>
            </p>
          </div>
        </div><!-- /.container-->
      </div><!-- /.footer-text-->
      <div class="footer-banner visible-lg visible-md visible-sm">
      </div><!-- /.footer-banner-->
    </div><!-- /#footer-->
  </body>
</html>
