<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= @page_title || "DieloWeb" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dielo Alimentos">
    <meta name="author" content="@michielin">
    <meta name="keywords" content="Dielo, sorvetes, freezer" />
    <meta name="robots" content="ALL" />
    <meta name="rating" content="General" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="visible-xs">
          <%= link_to root_path, :class => 'navbar-brand' do %>
            <%= image_tag 'dielo-logo-cab-shadow.png', width: '170' %>
          <% end %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quem somos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">História</a></li>
            <li><a href="#">Indústria</a></li>
            <li><a href="#">Qualidade</a></li>
            <li><a href="#">Frota</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Picolés</a></li>
            <li><a href="#">Sorvetes</a></li>
          </ul>
        </li>
        <li class="active"><a href="#">Onde Encontrar</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seja um parceiro <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tenha um freezer em seu estabelecimento</a></li>
          </ul>
        </li>
        <li><a href="#">Fale conosco</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div style="width: 1170px; background-color: #FF0000">
  1170px
</div>
<div style="width: 970px; background-color: #EE0022">
  970px
</div>
<div style="width: 750px; background-color: #DD0022">
  750px
</div>
  	<div class="cab">
      <div class="container">
    		<h1>teste-teste</h1>
    		<h1>Generated from: http://www.cufonfonts.com</h1><br/>
        <h1 style="font-family:'Museo 900';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
  	  </div>
    </div>
    <%= yield %>
  </body>
</html>
